<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472610242415-4igdt3vr0ubhtkfmkbnk3j6d4dd31vle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472610242415-4igdt3vr0ubhtkfmkbnk3j6d4dd31vle</string>
	<key>API_KEY</key>
	<string>AIzaSyB3o8zGL7ZdNs4nC1jqvavmOonnJvjeNHs</string>
	<key>GCM_SENDER_ID</key>
	<string>472610242415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elaina</string>
	<key>PROJECT_ID</key>
	<string>eliana-85bde</string>
	<key>STORAGE_BUCKET</key>
	<string>eliana-85bde.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472610242415:ios:103eb911bee8ce7454b29a</string>
</dict>
</plist>